body {
    background-color:#000000;

font-family: 'Rye', cursive;
}
#clock {
  color: #ffffff;
  font-size: 10vw;
  background-color: #14ad00;
  padding: 0.5em 0em;
  width: 80%;
  margin: 0px auto;
  text-align: center;
}
#banner {
    font-family: 'Audiowide', cursive;
  color: #ffffff;
  font-size: 4vw;
  text-align:center;
  background-color: #ff7600;
  padding: 0.2em 0em;
  width: 80%;
  margin: 10vh auto 0%;
  text-transform:uppercase;
}
div{
    text-align: center;
}
span {
  margin-left:175px;
}